head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='Seaweed')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Seaweed
  // Disable tap highlight on IE
  meta(name='msapplication-tap-highlight', content='no')
  // Color the status bar on mobile devices
  meta(name='theme-color', content='#2F3BA2')
  // Your styles
  link(rel='stylesheet', href='styles/main.css')
