doctype html
html(lang='en')
  include includes/head.pug
  body
    .container.p-y-1
      h1 Seaweed
      p.lead Use this document as a way to quickly start any new project.
      img.img-fluid.img-rounded(src='images/seaweed.jpeg')
    script(src='scripts/main.js')
